<div class="container text-center">

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Secure User</h1>
            <p class="lead">Where you can securely login and write your travel log.</p>
            <button class="btn btn-outline-success btn-register" type="button">Register</button>
            <button class="btn btn-outline-success btn-signin" type="button">Sign In</button>
        </div>
    </div>

    <div class="row justify-content-center">
        <form class="col-md-6 form-box register-box">
            <h3>Register</h3>
            <div class="register-notice"></div>

            <fieldset class="form-group">
                <input type="text" name="name" placeholder="Name" class="form-control name-register">
            </fieldset>
            <fieldset class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control email-register">
            </fieldset>
            <fieldset class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control password-register">
            </fieldset>

            <fieldset class="form-group">
                <input type="submit" name="signUp" value="Register" class="btn btn-success btn-confirm-register">
            </fieldset>
        </form>
    </div>
    
    <div class="row justify-content-center">
        <form class="col-md-6 form-box signin-box">
            <h3>Sign in</h3>
            <div class="signin-notice"></div>

            <fieldset class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control email-login">
            </fieldset>
            <fieldset class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control password-login">
            </fieldset>
            
            <fieldset class="form-group">
                <input type="submit" name="logIn" value="Sign In" class="btn btn-success btn-confirm-signin">
            </fieldset>
        </form>
    </div>
</div>