<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h4>Hello {{this.name}}</h4>
        <p>Here you can manage your travel log.</p>
        <button class="btn btn-outline-success btn-wheel" type="button"><i class="fa fa-cog" aria-hidden="true"></i></button>
    </div>
</div>

<div class="text-center options-box">
    <button class="col-md-3 btn btn-outline-danger my-1 btn-signout" type="button">Sign Out</button>
    <button class="col-md-3 btn btn-outline-warning my-1 btn-edit" type="button">Edit Profile</button>
    <button class="col-md-3 btn btn-outline-success my-1 btn-write" type="button">New Entry</button>
</div>

<div class="container text-center">

    <div class="profile">
        <h4>Change password</h4>
        <div class="change-password-notice"></div>

        <div class="row justify-content-center">
            <form class="col-md-6">
                <fieldset class="form-group">
                    <input type="password" name="password" placeholder="New Password" class="form-control password-new1"/>
                </fieldset>
                <fieldset class="form-group">
                    <input type="password" name="password" placeholder="Retype New Password" class="form-control password-new2"/>
                </fieldset>

                <fieldset class="form-group">
                    <input type="submit" name="signUp" value="Save Password" class="btn btn-success btn-save-password"/>
                </fieldset>
            </form>
        </div>
        
        <hr/>

        <button type="button" class="btn btn-danger btn-delete-account">Delete Account</button>
        <div class="confirm-delete">
            <div class="alert alert-warning" role="alert">Are you sure you want to delete your account?</div>
            <button type="button" class="btn btn-danger btn-confirm-delete-account">Confirm</button>
            <button type="button" class="btn btn-warning btn-cancel-delete-account">Cancel</button>
        </div>
    </div>

</div>

<div class="container mt-1 new-note">
    <textarea name="newNote" rows="10" class="col-md-10 offset-md-1 note-content"></textarea>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-success btn-save-note">Save</button>
    </div>  
</div>

<div>
    <h2>All entries here!</h2>

    <div class="show-notes">
    </div>
</div>