.form-box, .profile, .options-box, .note-box, .confirm-delete {
    display: none;
}

hr {
    background-color: white;
}

body {
    background: url(../img/bg-index.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h3 {
    color: white;
}

textarea {
    overflow-y: scroll;
    resize: none;
}

.jumbotron, .options-box, .each-note, .landing-box {
    background: rgba(225, 225, 225, .8);
}

.jumbotron {
    margin-bottom: 0;
}